<div class="content-section">
    <h3 class="text-center">Popular Post</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">A</li>
        <li class="list-group-item list-group-item-light">B</li>
        <li class="list-group-item list-group-item-light">C</li>
        <li class="list-group-item list-group-item-light">D</li>
    </ul>
</div>

<div class="content-section">
    <h3 class="text-center">Latest Post</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">1</li>
        <li class="list-group-item list-group-item-light">2</li>
        <li class="list-group-item list-group-item-light">3</li>
        <li class="list-group-item list-group-item-light">4</li>
    </ul>
</div>