{% extends "layouts/base.html" %}
{% block sidebar %}
{% endblock sidebar %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {{ csrf_token }}
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign In</legend>
            <div class="form-group mb-3">
                {{ form.email.label( class="form-control-label" ) }}
                {% if form.email.errors %}
                    {{ form.email( class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email( class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.password.label( class="form-control-label" ) }}
                {% if form.password.errors %}
                    {{ form.password( class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password( class="form-control") }}
                {% endif %}
            </div>
            <div class="form-check mb-3">
                {{ form.remember( class="form-check-input") }}
                {{ form.remember.label( class="form-control-label") }}
            </div>
            <div class="d-grid gap-2">
                {{ form.submit( class="btn btn-success") }}
            </div>
        </fieldset>
    </form>
    <hr>
    <div class="row">
        <a href="{{ url_for('users.reset_req') }}" class="text-decoration-none">Forgot password</a>
        <a href="{{ url_for('users.register') }}" class="text-decoration-none">Sign up</a>
    </div>
</div>
{% endblock content %}